*{
    font-family: Poppins;
}

body {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/bg.jpeg');
    background-position: center;
    background-size: cover;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    word-spacing: 0.2px;
}

nav {
    display: flex;
    justify-content: space-between;
}
.navs {
    display: flex;
}
.navs li {
    margin: 26px;
}
.navs a {
    color: #fff;
}
.navs li a {
    position: relative;
}

.navs li a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: violet;
    height: 4px;
    width: 0%;
    border-radius: 4px;
    transition: 0.5s;
}

.navs li a:hover:after {
    width: 100%;
}

.bars_btn, .links_btn {
    display: none;
}

.social {
    display: flex;
}
.social li {
    margin: 10px;
}
.social a.whatsapp {
    color: green;
}
.social a.linkedin {
    color: #fff;
}
.social a.github {
    color: #fff;
}

.texte {
    position: absolute;
    padding: 7% 20%;
    margin: 50px;
}
.texte h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
}
.texte p {
    margin-top: -20px;
    color: pink;
}

.cadre {
    position: absolute;
    padding: 0% 20%;
    margin: 10%;
    margin-left: 34%;
}
.cadre img {
    width: 250px;
    border-radius: 20px;
}

.boutons .bouton {
    padding: 6px 10px;
    background-color: blueviolet;
    border: none;
    border-radius: 30px;
    color: pink;
}

.naving {
    display: none;
}
.sociale {
    display: none;
}

/* RESPONSIVE DESIGN - Index */

@media screen and (max-width: 900px) {
    body {
        background-size: cover;
        background-position: center;
    }

    /*header*/
    .navs, .social, .bars_btn {
        display: none;
    }
    .bars_btn, .links_btn {
        display: block;
        color: white;
        margin-top: 50px;
    }
    .bars_btn {
        margin-left: 30px;
    }
    .links_btn {
        margin-right: 30px;
    }
    .naving {
        display: block;
        position: absolute;
        left: 4rem;
        top: 30px;
        height: 0;
        width: 100px;
        background-color: rgb(46, 43, 43);
        border-radius: 10px;
        overflow: hidden;
        transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .naving.open {
        height: 140px;
    }
    .naving li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .naving a {
        color: #fff;
    }
    .naving li a {
        position: relative;
        transition: all 0.2s ease;
        box-shadow: none;
    }
    .naving li a:hover {
        transform: scale(0.9) translateY(-4px);
        box-shadow: 0 2px 100px rgba(0, 0, 0, 0.3);
    }
    
    .sociale {
        display: block;
        position: absolute;
        right: 4rem;
        top: 30px;
        height: 0;
        width: 100px;
        background-color: rgb(46, 43, 43);
        border-radius: 10px;
        overflow: hidden;
        transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .sociale.open {
        height: 190px;
    }
    .sociale li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sociale li a {
        transition: all 0.2s ease;
        box-shadow: none;
    }
    .sociale li a:hover {
        transform: scale(1.3) translateY(-4px);
        box-shadow: 0 2px 100px rgba(0, 0, 0, 0.3);
    }
    .sociale a.whatsapp {
        color: green;
    }
    .sociale a.linkedin {
        color: white;
    }
    .sociale a.github {
        color: white;
    }
    
    /*Cadre*/
    .cadre {
        position: relative;
        padding: 0% 23.5%;
        margin: 50%;
        margin-left: 5%;
    }
    .cadre img {
        width: 250px;
        border-radius: 400px 400px 400px 400px;
    }

    /*Texte*/
    .texte {
        position: absolute;
        padding: 60% 0;
        margin-top: 17rem;
    }
    .texte h1 {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        animation: texte-gauche-droite 1.5s ease;
        animation-delay: 2ms;
    }
    .texte p {
        animation: texte-droite-gauche 1.5s ease;
    }

    @keyframes texte-gauche-droite {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(3%);
        }
    }
    @keyframes texte-droite-gauche {
        0% {
            transform: translateX(30%);
        }
        100% {
            transform: translateX(-3%);
        }
    }
}